// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit_question {
  display: none;
}
.index-question {
  padding: 1px 20px 20px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: inherit;
  background-color: #ccebff;
}
.show-question {
  padding: 1px 20px 20px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: inherit;
  background-color: #ccebff;
}
.show-question-links {
  padding: 5px 10px 5px 10px;
  border-radius: 1px;
  margin-bottom: 20px;
  margin-top: -15px;
  color: inherit;
  background-color: #ccebff;
}
.glyphicon.size_15 {
    font-size: 15px;
}
.rating {
  text-align: right;
}
